<footer>
    <div class="container pt-5">
        <div class="footer-mail d-flex align-items-center">
            <fa-icon [icon]="faEnvolope" class="text-info"></fa-icon>
            <input type="text">
        </div>
        <div class="copyright-fbt mt-4 d-flex justify-content-between flex-wrap">
            <p>Copyright &copy; 2014 Two Bytes Consulting, <strong>Terms & Policies</strong></p>
            <div class="fbt">
                <span class="text-info me-5">
                    <fa-icon [icon]="faTwitter"></fa-icon> Tweet
                    <span class="bg-light position-relative tweet ps-1 pe-1">
                        692
                        <span class="position-absolute top-50 start-0 translate-middle p-1 bg-light border border-light rounded-circle"></span>
                    </span>
                </span>
                <span class="text-primary">
                    <fa-icon [icon]="faFacebookSquare" ></fa-icon> Like
                    <span class="bg-light position-relative tweet ps-2 pe-2">
                        117
                        <span class="position-absolute top-50 start-0 translate-middle p-1 bg-light border border-light rounded-circle"></span>
                    </span>
                </span>
               
            </div>
        </div>
    </div>    
</footer>
