.demo-links a{
    margin-right: 15px;
    text-decoration: none;
    /* color: #fff; */
    padding-top: 5px;
    transition: border-top 0.3s ease ;
}

.demo-links a:hover{
    border-top: 5px solid lightblue;
}


header{
    /* position: absolute; */
    /* top:0; */
    z-index: 5 !important;
    /* padding: 0 ; */
    /* margin: 0 130px; */
}