<header class="container pt-5 position-absolute top-0 start-50 translate-middle mt-5">  
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="">
            <h4 class="p-2 bg-primary text-light">DEMO APP</h4>
        </div>
        <div class="demo-links">
            <a routerLink="/home">HOME</a>
            <a routerLink="/register-info">REGISTER INFO</a>
            <a routerLink="/jobs">JOBS</a>
            <a routerLink="/clients">CLIENTS</a>
            <a routerLink="/employers">EMPLOYERS</a>
            <a routerLink="/contact-us">CONTACT US</a>
        </div>
    </div>
</header>
