<div class="home position-absolute top-0 bg-light w-100 d-flex">
    <!-- <p>
        <span>{{data.id}}</span>
        <span>{{data.firstName}}</span>
        <img src="{{data.image}}">
        <span>{{data.lastName}}</span>
    </p> -->
    <div class="container content position-relative top-0">
        <h1 class="text-info mb-5">Profile</h1>
        <div class="row">
            <div class=" main">
                <div class="photo">
                    <img src="../../../assets/1.jpg" alt="" height="250" width="250">
                </div>
                <div class="">
                    <button class="btn btn-warning">Edit Photo</button>
                    <button class="btn btn-warning float-end">
                       <a routerLink="/edit/{{data.id}}">Edit Profile</a> 
                    </button>
                </div>
            </div>
            <div class="description col-8">
                <p>
                    I'm {{data.firstName}} {{data.lastName}} and I'm above 20 years and <br>
                    you can send your email to <br>
                    <a href="mailto:{{data.email}}">{{data.email}}</a>. I live in the state of <br>
                    {{data.state}}. I like to play {{data.hobies}}. <span *ngIf="data.subscribe">And please send me newsletters</span>.Please <br>
                    reach out to me on {{data.phone}}. 
                </p>

                <button class="btn btn-success">I Agree</button>
            </div>
        </div>
    </div>

    <!-- <app-jobs></app-jobs> -->
</div>
