<div class="about-us">
    <div class="container pt-5 text-center pb-5">
        <h4><em>We're leaders in</em></h4>
        <h2>Creative Digital Recruitment</h2>
        <div class="position-relative mt-4">
            <div class="hr position-absolute top-0 start-50 translate-middle"></div>
        </div>
        <p class="pt-5">Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity <br> and that reflects on the type of jobs we recruit for.</p>
        <button type="button" class="btn btn-outline-info mt-5 pt-3 pb-3 ps-4 pe-4">FIND OUT MORE ABOUT US!</button>
    </div>    
</div>
