<div class="background-carousel">
    <swiper [config]="swiperConfig" class="mySwiper">
        <ng-template swiperSlide>
            <div class="">
                <img src="http://source.unsplash.com/random/?code" alt="code">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="http://source.unsplash.com/random/?technology" alt="technology">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="http://source.unsplash.com/random/?cybersecurity" alt="cybersecurity">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="">
                <img src="http://source.unsplash.com/random/?computer" alt="computer">
            </div>
        </ng-template>
    </swiper>
    <div class="image-overlay"></div>
</div>
